.navbar{
    box-shadow: 0px 0px 10px 10px gainsboro;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.totalNutrients p{
    font-size: 18px;
    color: beige;
}